@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Add a course for this student</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)
  <p>Please select a class that you would like to add.</p>
  @Html.Label("Select course")
  @Html.DropDownList("CourseId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>