@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Course

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />

<h3>Course Details</h3>

<h5>Teacher: @Html.DisplayFor(model => model.Teacher)</h5>
<h5>Subject: @Html.DisplayFor(model => model.Subject) | @Html.DisplayFor(model => model.CourseNumber)</h5>
<h5>Credit Amount: @Html.DisplayFor(model => model.NumberOfCredits)</h5>

<p>@Html.ActionLink("Back to All Courses", "Index")</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
@* <p>@Html.ActionLink("Add New Student", "Create", "Students", new {id = Model.JoinEntities.Student.StudentId})</p> *@
@* JoinEntities is the iterable object
  Model.JoinEntities[0] <- some number to indicate index. (0)

*@

<h5>Current Students Attending @Html.DisplayFor(model => model.Name)</h5>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Course does not have any students enrolled yet.</p>
}
else
{
  <h4>Students the course has enrolled</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Student.Name}", "Details", "Students", new {id = join.Student.StudentId}) | @using (Html.BeginForm("DeleteCourse", "Students"))
      {
        @Html.Hidden("joinId", @join.CourseStudentId)
        <input type="submit" value="Delete from course" />
      }</li>
    }
  </ul>
}