@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h2>Edit</h2>

<h4>Edit this course: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  @Html.LabelFor(model => model.Name)
  <!-- if we wanted to customize labe it would just be @Html.Label("our lable") -->
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Teacher)
  @Html.EditorFor(model => model.Teacher)

  @Html.LabelFor(model => model.Subject)
  @Html.EditorFor(model => model.Subject)

  @Html.LabelFor(model => model.CourseNumber)
  @Html.EditorFor(model => model.CourseNumber)

  @Html.LabelFor(model => model.NumberOfCredits)
  @Html.EditorFor(model => model.NumberOfCredits)

  @Html.Label("Select Student")
  @Html.DropDownList("StudentId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Home", "Index")</p>